@import "tailwindcss";

/* Estilo global para el body de todas las paginas D.A.G.U. */


*{
  font-family:"Rubik-Regular.ttf" ;
}
body{
  background-color: rgb(244,245,251);
}


/* Estilo de letras globales */

@font-face {
  font-family:"Rubik-Regular.ttf" ;
  src: url("/fonts/Rubik-Regular.ttf");
}

